@page "/counter"

@using MadWorld.Website.State.Interface;
@inject IAuthenticationHandler _authenticationHandler; 

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="ResetRole">Reset my role</button>
