@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="TrowExceptionYeah">Text</button>

@code {
    public void TrowExceptionYeah()
    {
        throw new Exception();
    }
}

