@page "/support/report/security"

@using MadWorld.Website.Services.Interfaces
@inject ISecurityService _securityService

@if (UserFinished)
{
    <div class="alert alert-success" role="alert">
        We received your report. We will answer your report as soon as possible.
    </div>
}
else
{
    @if (ShowError)
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }

    <div class="alert alert-danger" role="alert">
        Warning! This page is not working yet. Coming soon.
    </div>

    <div class="mb-3">
        <h3>Security Report</h3>
        <p>
            Did you found a security flaw in my software? You can report it here if you want. Unfortunately I cannot give
            you any rewards. But I will fix it as soon as possible. Please fill also some of your contact information. Only
            then it is possible to contact you. Thank you in advance for your time.
        </p>
    </div>

    <EditForm Model="@SecurityReport" OnValidSubmit="@SendReport">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="fullname" class="form-label">Your fullname</label>
            <InputText type="text" class="form-control" id="fullname" @bind-Value="SecurityReport.Fullname" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Your email</label>
            <InputText type="email" class="form-control" id="email" @bind-Value="SecurityReport.Email" />
        </div>

        <div class="mb-3">
            <label for="pgp-public-key" class="form-label">Your PGP public key</label>
            <InputFile class="form-control" type="file" OnChange="AddPgpPublicKey" id="pgp-public-key" />
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <InputText type="text" class="form-control" id="title" @bind-Value="SecurityReport.Title" />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <InputTextArea class="form-control" id="description" @bind-Value="SecurityReport.Description" />
        </div>

        <div class="mb-3">
            <label for="attachments" class="form-label">Add attachment for prove</label>
            <InputFile class="form-control" type="file" OnChange="AddAttachments" id="attachments" multiple />
        </div>

        <div class="row">
            @if (Wait)
            {
                <div class="col-3">
                    <button type="submit" class="btn btn-success" disabled>Send security report</button>
                </div>
                <div class="col-1">
                    <div class="wait-loader"></div>
                </div>
            }
            else
            {
                <div class="col-3">
                    <button type="submit" class="btn btn-success">Send security report</button>
                </div>
            }
        </div>
</EditForm>
}

