@page "/running"

@using MadWorld.Website.Manager.Interfaces;
@inject IAudioManager _audioManager;

<h1>Play sound!</h1>

@code {

    private readonly string PlayerID = "running-audio";

    protected override void OnAfterRender(bool firstRender)
    {
        _audioManager.Init(PlayerID);
    }

    private void Play()
    {
        _audioManager.Play();
    }

}

<div class="card">
    <div class="card-header">
        <button @onclick=(Play)>Play</button>

    </div>
    <div class="card-body">
         <audio id="@PlayerID" controls><source src="/music/sonar-ping.wav" /></audio>
    </div>
</div>