@page "/running"

@using MadWorld.Website.JavascriptManager.Interfaces;
@inject IAudioManager _audioManager;

<h1>Play sound!</h1>

<div class="card">
    <div class="card-header">
        <button @onclick=(Play)>Play</button>
        <button @onclick=(Start)>Start</button>
    </div>
    <div class="card-body">
        <audio id="@PlayerID" controls><source src="/music/sonar-ping.wav" /></audio>
        <p>@TimeLeft.Minutes @TimeLeft.Seconds</p>
        <p>Round: @Round</p>
    </div>
</div>