@page "/Admin"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MadWorld.Shared.Web.Models.Admin
@using MadWorld.Website.Settings;
@attribute [Authorize(Roles = "Adminstrator")]
@inject IHttpClientFactory clientFactory

<h3>@welcomeResponse.Message</h3>

@code {
    private WelcomeResponse welcomeResponse = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var Http = clientFactory.CreateClient(ApiUrls.MadWorldApi);
            welcomeResponse = await Http.GetFromJsonAsync<WelcomeResponse>("Admin");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}


