@inherits LayoutComponentBase

@using MadWorld.Website.Manager.Interfaces;
@inject ISmartlookManager _smartlookManager;

<header>
    <Session />
    <NavMenu />
</header>
<main class="flex-shrink-0 flex-fill">
    <div class="container mt-3">
        @Body
    </div>
</main>
<MainFooter />
